/*Haz que el elemento con las clases avatar y proporcionada tenga 300px de ancho, luego dale una altura para 
que se converse sus proporcioes cuadradas originales (no codifiques un valor de pixel para la altura!).

Haz que el elemento con las clases avatar y distorcionada tenga 200px de ancho, luego haz que su altura sea 
el doble de grande que su ancho (aqui deves codificar el valor de su pixel).

    <img class="avatar proportioned" src="../IMG/playa.jpg" alt="playa">
    <img class="avatar distorcioned" src="../IMG/montana.jpg" alt="montana">
    <img class="original proportioned" src="../IMG/playa.jpg" alt="playa">
    <img class="original distorcioned" src="../IMG/montana.jpg" alt="montana">
*/

.avatar.proportioned { 
    width: 300px;
    height: auto;
}
/*
.avatar .distorcioned{
    width: 200;
    height: auto;
}*/