/*El encadenamiento de selectores en HTML y CSS se refiere a la combinación de múltiples 
selectores para aplicar estilos a elementos HTML específicos que cumplen con varias condiciones 
al mismo tiempo. Este método te permite crear reglas de estilo más precisas y específicas.*/

  .avatar.proportioned{
    width: 300px;
    height: auto;
  }
  .avatar.distorcioned{
    width: 200px;
    height: 400px;
  } 